.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--color-red-secondary);
  color: white;
  display: flex;
  flex-direction: column;
  grid-gap: calc(var(--padding-x) * 3 / 4);
}

.containerLogo {
  padding: 50px var(--padding-x) 0 var(--padding-x);
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
.iconClose {
  cursor: pointer;
}
.iconClose path {
  stroke: white;
}
@media (min-width: 768px) {
  .container {
    position: relative;
    height: auto;
  }
  .iconClose {
    display: none;
  }
}
