.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-light-red);
  padding: 1rem;
}

.container > * {
  flex-grow: 0;
}

.searcher {
  flex-grow: 1;
  margin: 0 1rem;
}

.user span {
  display: none;
}

.logo {
  cursor: pointer;
}

@media (min-width: 768px) {
  .container {
    background: transparent;
    padding: calc(var(--padding-x) * 3 / 4) var(--padding-x)
      calc(var(--padding-x) / 2) var(--padding-x);
  }

  .logo {
    display: none;
  }

  .user span {
    display: block;
  }

  .searcher {
    margin: 0;
    margin-right: 1rem;
  }
}
