:root {
  --color-red-principal: #e86060;
  --color-red-secondary: #662323;
  --color-gray-soft: #bdbdbd;
  --color-gray: #828282;
  --color-light-red: #ff7676;
  --padding-x: 40px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Quicksand, sans-serif;
}

@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand-Bold.ttf");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand-Light.ttf");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand-SemiBold.ttf");
  font-weight: bold;
  font-style: normal;
}
